<li class="list-group-item js-comment" id="comment-{{ comment.id }}" data-comment-id="{{ comment.id }}">
	<div>
		{{ comment.author }}, le
		{{ comment.createdAt|format_date("short", locale="fr") }}
	</div>

	<div class="fw-bold">
		{{ comment.title }}
	</div>

	<div>
		{{ comment.body|nl2br }}
	</div>

	{% if comment.author.id == user.id %}
		<form action="/posts/{{ post.id }}/comments/{{ comment.id }}/delete#comments" method="post" class="js-delete-form">
			<button type="submit" class="btn btn-danger btn-sm" style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Supprimer</button>
		</form>

		<div class="d-none js-delete-form-result"></div>
	{% endif %}

</li>
