<!-- Post preview-->
<div class="post-preview">
	<a href="/posts/{{ post.id }}">
		<h2 class="post-title">{{ post.title }}</h2>
		<h3 class="post-subtitle">{{ post.leadParagraph }}</h3>
	</a>
	<p class="post-meta">
		Posté par
		{% if post.author.id %}
			<a href="/posts?authors={{ post.author.id }}">{{ post.author.name }}</a>
		{% else %}
			Anonyme
		{% endif %}
		le
		{{ post.createdAt|format_date("full", locale="fr") }}
		{% if post.updatedAt %}
			(modifié le
			{{ post.updatedAt|format_date("full", locale="fr") }})
		{% endif %}
		{% if post.category %}
			dans
			<a href="/posts?categories={{ post.category.id }}">{{ post.category }}</a>
		{% endif %}
	</p>
</div>
