{% extends "admin/layout.html.twig" %}

{% block title %}
	Blog Admin - Gestion des catégories
{% endblock %}

{% block javascript %}
	<script defer src="/assets/js/admin/category-management.js" type="module"></script>
{% endblock %}

{% set breadcrumbs = [
	{
		"name": "Gestion des catégories"
	}
] %}

{% block body %}

	<h1 class="mb-3">Gestion des catégories</h1>

	<div class="container ms-0">
		<a href="/admin/categories/create" class="btn btn-light">Créer une catégorie</a>
	</div>

	<div class="card">
		<div class="table-responsive">
			<div class="dataTable-wrapper">
				{% include "admin/includes/table-top.html.twig" %}
				<div class="dataTable-container">
					<table id="datatable" class="table align-items-center mb-0 dataTable-table">
						<thead>
							<tr class="d-none d-md-table-row">
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre de posts</th>
								<th class="text-secondary opacity-7"></th>
							</tr>
						</thead>
						<tbody>
							{% if categories|length > 0 %}
								{% for category in categories %}
									<tr data-id="{{ category.id }}">

										<td>
											<div class="d-flex px-2 py-1">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-xs">{{ category.name }}</h6>
													<div class="d-md-none mt-1">
														<p class="text-xs text-secondary mb-0">
															{{ category.postCount }}
															posts
														</p>
													</div>
												</div>
											</div>
										</td>

										<td class="d-none d-md-table-cell">
											<p class="text-xs mb-0">
												{{ category.postCount }}
												posts
											</p>
										</td>

										<td class="align-middle">
											{% if category.id %}
												<div class="row text-center">
													<div class="col">
														<a href="/admin/categories/{{ category.id }}" class="text-secondary font-weight-normal text-xs" title="Modifier la catégorie">
															Modifier
														</a>
													</div>
													<div class="col">
														<button type="button" class="btn btn-outline-danger btn-sm mb-0" title="Supprimer la catégorie" data-delete>
															<span class="text">Supprimer</span>
															<span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
														</button>
													</div>
												</div>
											{% endif %}
										</td>

									</tr>
								{% endfor %}
							{% else %}
								<td colspan="3" class="text-center">Aucune catégorie</td>
							{% endif %}
						</tbody>
					</table>
				</div>
				{% include "admin/includes/table-pagination.html.twig" %}
			</div>

		</div>
	</div>
{% endblock %}
