{% extends "admin/layout.html.twig" %}

{% block title %}
	Blog Admin - Gestion des posts
{% endblock %}

{% block javascript %}
	<script defer src="/assets/js/admin/post-management.js" type="module"></script>
{% endblock %}

{% set breadcrumbs = [
	{
		"name": "Gestion des posts"
	}
] %}

{% block body %}

	<h1 class="mb-3">Gestion des posts</h1>

	<div class="container ms-0">
		<a href="/admin/posts/create" class="btn btn-light">Créer un post</a>
	</div>

	<div class="card">
		<div class="table-responsive">
			<div class="dataTable-wrapper">
				{% include "admin/includes/table-top.html.twig" %}
				<div class="dataTable-container">
					<table id="datatable" class="table align-items-center mb-0 dataTable-table">
						<thead>
							<tr class="d-none d-md-table-row">
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre et chapô</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Création/Modification</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Catégorie</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Etat</th>
								<th class="text-secondary opacity-7"></th>
							</tr>
						</thead>
						<tbody>
							{% if posts|length > 0 %}
								{% for post in posts %}
									<tr data-id="{{ post.id }}">
										<td>
											<div class="d-flex px-2 py-1">
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-xs">{{ post.title }}</h6>
													<p class="text-xs text-secondary mb-0">{{ post.leadParagraph }}</p>
													<div class="d-md-none mt-1">
														{% if post.category %}
															<p class="text-xs text-secondary mb-0">
																Dans
																{{ post.category }}
															</p>
														{% endif %}
														<p class="text-xs text-secondary mb-0">
															Créé le
															{{ post.createdAt|format_date("short", locale="fr") }}
														</p>
														{% if post.updatedAt %}
															<p class="text-xs text-secondary mb-0">
																Modifié le
																{{ post.updatedAt|format_date("short", locale="fr") }}</p>
														{% endif %}
														{% if post.isPublished %}
															<span class="badge badge-sm badge-success">Publié</span>
														{% else %}
															<span class="badge badge-sm badge-secondary">Non publié</span>
														{% endif %}
													</div>
												</div>
											</div>
										</td>
										<td class="d-none d-md-table-cell">
											<p class="text-xs font-weight-bold mb-0">{{ post.createdAt|format_date("short", locale="fr") }}</p>
											{% if post.updatedAt %}
												<p class="text-xs text-secondary mb-0">{{ post.updatedAt|format_date("short", locale="fr") }}</p>
											{% endif %}
										</td>
										<td class="d-none d-md-table-cell">
											<p class="text-xs mb-0">{{ post.category }}</p>
										</td>
										<td class="align-middle text-center text-sm d-none d-md-table-cell">
											{% if post.isPublished %}
												<span class="badge badge-sm badge-success">Publié</span>
											{% else %}
												<span class="badge badge-sm badge-secondary">Non publié</span>
											{% endif %}
										</td>
										<td class="align-middle">
											<div class="row text-center">
												<div class="col">
													<a href="/admin/posts/{{ post.id }}" class="text-secondary font-weight-normal text-xs" title="Modifier le post">
														Modifier
													</a>
												</div>
												<div class="col">
													<button type="button" class="btn btn-outline-danger btn-sm mb-0" title="Supprimer le post" data-delete>
														<span class="text">Supprimer</span>
														<span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
													</button>
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<td colspan="5" class="text-center">Aucun post</td>
							{% endif %}
						</tbody>
					</table>
				</div>
				{% include "admin/includes/table-pagination.html.twig" %}
			</div>

		</div>
	</div>

{% endblock %}
