{% extends "front/layout.html.twig" %}

{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5 site-heading">
			<div class="row gx-4 gx-lg-5 gy-4 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">

				{% if posts|length > 0 %}
					{% for post in posts %}
						<!-- Post preview-->
						{{ include("front/includes/post-summary.html.twig") }}
						<!-- Divider-->
						<hr class="my-4"/>
					{% endfor %}

					<!-- Pager-->
					<div class="d-flex justify-content-between mb-4">
						{% if previousPage %}
							<a class="btn btn-primary text-uppercase" href="/posts?page={{ page - 1 }}{{ categoriesQuery }}{{ authorsQuery }}">← Posts plus récents</a>
						{% endif %}
						{% if nextPage %}
							<a class="btn btn-primary text-uppercase ms-auto" href="/posts?page={{ page + 1 }}{{ categoriesQuery }}{{ authorsQuery }}">Posts plus anciens →</a>
						{% endif %}
					</div>
				{% else %}
					<div class="text-center mb-4">Aucun post ne correcpond à votre requête.</div>

					<div class="d-flex justify-content-around mb-4">
						<a class="btn btn-primary text-uppercase" href="/posts">Voir tous les posts</a>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
