{% extends "front/layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/front/common.css">
{% endblock %}

{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 gy-4 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1>{{ post.title }}</h1>
						<h2 class="subheading">{{ post.leadParagraph }}</h2>
						<div class="meta">Posté par
							{{ post.author ?? "Anonyme" }}
							le
							{{ post.createdAt|format_date("full", locale="fr") }}</div>
						{% if post.updatedAt %}
							<div class="meta">Modifié le
								{{ post.updatedAt|format_date("full", locale="fr") }}</div>
						{% endif %}
						{% if post.category %}
							<div class="meta">Catégorie
								{{ post.category }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>

	{% if user.isAdmin %}
		<div class="container px-4 px-lg-5 my-3">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<a href="/admin/posts/{{ post.id }}" class="btn btn-light">Modifier le post</a>
				</div>
			</div>
		</div>
	{% endif %}

	<!-- Main Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					{{ post.body|markdown_to_html }}
				</div>
			</div>
		</div>
	</article>
{% endblock %}
