{% extends "front/layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block javascript %}
	<script defer src="/assets/js/front/passwordReset.js"></script>
{% endblock %}

{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Réinitialisation de mot de passe</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div
				class="col-md-10 col-lg-8 col-xl-7">

				<!-- Sign-in form -->
				<div class="my-5">
					<form id="passwordResetForm" method="POST" action="">

						<div class="form-floating">
							<input type="password" class="form-control" id="new-password" name="passwordResetForm[new-password]" placeholder="Mot de passe" autocomplete="new-password" minlength="{{ MINIMUM_PASSWORD_LENGTH }}" required/>
							<label for="new-password">Nouveau mot de passe</label>
							{% if formResult.errors.newPasswordTooShort %}
								<div class="invalid-feedback">Le nouveau mot de passe doit être supérieur à
									{{ MINIMUM_PASSWORD_LENGTH }}
									caractères.</div>
							{% endif %}
						</div>

						<div class="form-floating">
							<input type="password" class="form-control" id="password-confirm" name="passwordResetForm[password-confirm]" placeholder="Retapez le mot de passe" autocomplete="new-password" minlength="{{ MINIMUM_PASSWORD_LENGTH }}" required/>
							<label for="password-confirm">Retapez le mot de passe</label>
						</div>

						<div id="passwordResetMessage" class="d-none"></div>
						{% if passwordResetError %}
							<div class="invalid-feedback">{{ passwordResetError.message }}</div>
						{% endif %}
						{% if passwordResetSuccess %}
							<div class="fw-bold">{{ passwordResetSuccess.message }}</div>
						{% endif %}

						<!-- Submit Button-->
						{% if not passwordResetSuccess %}
							<button class="btn btn-primary text-uppercase mt-4" id="submitButton" type="submit">Enregistrer</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
